# Maven target directory
target/

# Logs and related directories (local, AWS, etc.)
log/
log-*/
log-local-*/
log-aws-*/
*.log

# Input & Output (local, AWS, or otherwise)
input*/
output*/
output-*/
output-local-*/
output-aws-*/

# OS-specific files
.DS_Store


full_data/
base_data/
